<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" contact="=width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" contact="ie=edge">
    <title> Guess book form</title>
</head>
<body>
    <h1> Thank you for your submission <%= details.fname %></h1>
    
</body>
</html>